*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(187, 224, 224);
}
nav{
    background-color: rgb(125, 151, 245);
    height: 90px;
    display: flex;
}
#logo{
    height: inherit;
    width: 10%;
    /* border: 2px solid black; */
    position: relative;
}
#panda{
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 42px;
    top: 18px;
}
#space{
    height: inherit;
    width: 40%;
     /* border: 2px solid black; */

}
#home{
    height: inherit;
    width: 50%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 30px;
}
#home>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
#homebgc{
    background-color: transparent;
    background-color: rgb(155, 216, 240);
    height: 30px;
    width: 80px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section{
    height: 650px;
    width: 15%;
    background-color: rgb(125, 151, 245);
    border: 1px solid white ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
section>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
 h1{
    display: flex;
    position: relative;
    bottom: 400px;
    left: 100px;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: white;
    animation: hima 1s ease 0s infinite alternate ;
    filter: blur(3px);
    
    

}
@keyframes hima {
    from{
        font-size: 0px;
    }
    to{
        font-size: 70px;
    }

}